* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* added the contents from the P element, as they were redundant*/
body {
    background-color: #d9dcd6;
    color: #ffffff;
    text-decoration: none;
}

/* changed this element selector to follow the semantic structure in the HTML*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* changed this from .header class to header element to follow Semantic Structure*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* changed this from .header class to .seo class, with span element to clean up h1 element, applied seo class to the header*/
.seo span {
    color: #d9dcd6;
}
/* changed this from .header class to nav element to follow Semantic Structure*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* changed this from .header class to nav element*/
header nav ul {
    list-style-type: none;
    
}
/* changed this from .header class to nav element*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
    
}

 
 a {
    color: #ffffff;
    text-decoration: none;
}

/* commented out the below, as the default is 16px */
/*p {
    font-size: 16px;
}*/

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* optimized the benefits secion by consolidating  the below section into a class called benefits-content */

.benefits-content {
    margin-bottom: 32px;
    color: #ffffff;
}


.benefits-content h3 {
    margin-bottom: 10px;
    text-align: center;
}


.benefits-content img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}



/* created the below class to consolidate the contents within the main section of the site*/
.seo-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}



.seo-content img {
    max-height: 200px;
}


.seo-content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* changed the below class, to an element to match the semantic structure changes in the HTML file */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
